@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash {
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
}

.content {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 500;
}

.about {
    height: 100%;

    font-family: "Oswald";
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 1.5em;
}

.container-img {
    width: 20%;
}

.about-img {
    max-width: 100%;
    border-radius: 50%;
}

.text-content {
    margin: 40px 0;
}

.text-content div:nth-child(2) {
    margin-top: 1.3em;
}

.skill-title {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.7em;
    letter-spacing: 0.2em;
}

.skill {
    background-color: #dddddd;

    padding: 0 150px;
    text-align: center;
    font-size: 4em;
}

.skill i {
    display: inline-block;
    padding: 20px 10px;

    text-shadow: 0px 1px 2px #1e212d;
    transition: all 200ms ease;
}

.skill i:hover {
    transform: translateY(-5%);
}


.devicon-photoshop-line.colored {
    color: #0077BF;
}

.devicon-linux-plain {
    color: #333232;
}

.contact {
    height: 100%;
    display: flex;
    justify-content: center;

    font-family: "Oswald";
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.links {
    margin: 15px;
    border-top: 2px solid #FFFFFF;
}

.email {
    color: #FFFFFF;
    text-decoration: none;
    margin: 15px;
    padding: 5px 15px;
    border: 1px solid #FFFFFF;

    transition: all 200ms ease-in;
}

.email:hover {
    background-color: #FFFFFF;
    color: #4caf50;
    border-radius: 25px;
}

.links i {
    font-size: 1.5em;
    color: #FFFFFF;
    padding: 5px;

    transition: all 200ms ease;
}

.links i:hover {
    color: #000000;
}

@media screen and (max-width: 900px) {
    .splash {
        font-size: 2vw;
    }

    .about {
        font-size: 1em;
    }

    .imgContainer {
        width: 80%;
    }

    .skill {
        padding: 0;
    }

    .skill i {
        font-size: 0.8em;
    }
}