@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash {
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
}

.content {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 500;
}

.about {
    height: 100%;
    display: flex;
    justify-content: center;

    font-family: "Oswald";
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.imgContainer {
    width: 20%;
}

.aboutIMG {
    max-width: 100%;
    border-radius: 50%;
}

.textContent {
    margin: 40px 0;
}

.contact {
    height: 100%;
    display: flex;
    justify-content: center;

    font-family: "Oswald";
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.links {
    margin: 15px;
    border-top: 2px solid #FFFFFF;
}

.email {
    color: #FFFFFF;
    text-decoration: none;
    margin: 15px;
    padding: 5px 15px;
    border: 1px solid #FFFFFF;

    transition: all 200ms ease-in;
}

.email:hover {
    background-color: #FFFFFF;
    color: #4caf50;
    border-radius: 25px;
}

i {
    font-size: 1.5em;
    color: #FFFFFF;
    padding: 5px;

    transition: all 200ms ease;
}
i:hover {
    color: #000000;
}

@media screen and (max-width: 900px) {
    .splash {
        font-size: 2vw;
    }
    .about {
        font-size: 1em;
    }
    .imgContainer {
        width: 80%;
    }
}