@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #7C7C7D;
    text-decoration: none;
    padding-bottom: 0.3rem;
}

header {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 7.5%;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 1;
}

.home {
    font-weight: 400;
    font-size: 24px;
}

.title {
    letter-spacing: 0.1em;
    margin-right: auto;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    color: #DBDBDB;
    display: inline-block;
    padding: 0 10px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #4A4A4B;
    border-bottom: 2px solid #dbdbdb;
}

.active {
    color: #000000;
    border-bottom: 2px solid black;
}

.avatar {
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
}

.content {
    text-align: center;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
}

.about {
    font-family: "Oswald";
    text-align: left;
    font-weight: 300;
    font-size: 1.5vw;
}

.splash {
    font-size: 1vw;
}

.burger div{
    width: 20px;
    height: 2.5px;
    background-color: #7C7C7D;
    margin: 3px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .collapsable{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        width: 45%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .collapsable li{
        padding: 8vh 10px;
    }

    .collapsable li{
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.navActive {
    transform: translateX(0%);
}

@keyframes navLinksAnim {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .l1 {
    transform: rotate(-45deg) translate(-3px, 5px);
}

.toggle .l2 {
    opacity: 0;
}

.toggle .l3 {
    transform: rotate(45deg) translate(-3px, -5px);
}
